version: '3.9'

services:
# Menu
  menumanagement:
    container_name: menumanagement
    image: karosroczyk/menumanagement:v.1.1
    ports:
      - "8081:8081"
    depends_on:
      db_menu:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8081/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 10
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db_menu:3306/${MYSQL_MENU_DB}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: ${MYSQL_MENU_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_MENU_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"
      SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: org.hibernate.dialect.MySQL8Dialect
      SERVER_PORT: 8081

  db_menu:
    image: mysql:8.0
    container_name: mysql-menudb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_MENU_DB}
      MYSQL_USER: ${MYSQL_MENU_USER}
      MYSQL_PASSWORD: ${MYSQL_MENU_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - db_menu_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 5s
      timeout: 5s
      retries: 10

# Inventory
  inventorymanagement:
    container_name: inventorymanagement
    image: karosroczyk/inventorymanagement:v.1.1
    ports:
      - "8082:8082"
    depends_on:
      db_inventory:
        condition: service_healthy
      eureka:
        condition: service_started
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8082/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 10
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db_inventory:3306/${MYSQL_INV_DB}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: ${MYSQL_INV_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_INV_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"
      SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: org.hibernate.dialect.MySQL8Dialect
      SERVER_PORT: 8082

  db_inventory:
    image: mysql:8.0
    container_name: mysql-inventorydb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_INV_DB}
      MYSQL_USER: ${MYSQL_INV_USER}
      MYSQL_PASSWORD: ${MYSQL_INV_PASSWORD}
    ports:
      - "3308:3306"
    volumes:
      - db_inventory_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 5s
      timeout: 5s
      retries: 10

# Order
  ordermanagement:
    container_name: ordermanagement
    image: karosroczyk/ordermanagement:v.1.1
    ports:
      - "8083:8083"
    depends_on:
      db_order:
        condition: service_healthy
      eureka:
        condition: service_started
      menumanagement:
        condition: service_healthy
      inventorymanagement:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db_order:3306/${MYSQL_ORDER_DB}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: ${MYSQL_ORDER_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_ORDER_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"
      SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: org.hibernate.dialect.MySQL8Dialect
      SERVER_PORT: 8083

  db_order:
    image: mysql:8.0
    container_name: mysql-orderdb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_ORDER_DB}
      MYSQL_USER: ${MYSQL_ORDER_USER}
      MYSQL_PASSWORD: ${MYSQL_ORDER_PASSWORD}
    ports:
      - "3309:3306"
    volumes:
      - db_order_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 5s
      timeout: 5s
      retries: 10

# User
  usermanagement:
    container_name: usermanagement
    image: karosroczyk/usermanagement:v.1.1
    ports:
      - "8088:8088"
    depends_on:
      db_user:
        condition: service_healthy
      eureka:
        condition: service_started
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db_user:3306/${MYSQL_USER_DB}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: ${MYSQL_USER_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_USER_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"
      SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: org.hibernate.dialect.MySQL8Dialect
      SERVER_PORT: 8088

  db_user:
    image: mysql:8.0
    container_name: mysql-userdb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_USER_DB}
      MYSQL_USER: ${MYSQL_USER_USER}
      MYSQL_PASSWORD: ${MYSQL_USER_PASSWORD}
    ports:
      - "3310:3306"
    volumes:
      - db_user_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 5s
      timeout: 5s
      retries: 10

  eureka:
    image: karosroczyk/discoveryserver:v.1.0
    container_name: discoveryserver
    ports:
      - "8762:8761"

  maildev:
    image: maildev/maildev
    container_name: maildev
    ports:
      - "1080:1080"
      - "1025:1025"

  frontend:
    image: karosroczyk/frontend:v.1.1
    container_name: frontend
    ports:
      - "8080:80"
      - "1026:1025"

volumes:
  db_menu_data:
  db_inventory_data:
  db_order_data:
  db_user_data:
