$accent-color: #8a6b52;

.btn-primary {
  background-color: $accent-color;
  border-color: $accent-color;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #775844;
  border-color: #775844;
}

.custom-login-btn {
  background-color: $accent-color;
  color: #fff;
  border: none;
}

.custom-register-btn {
  color: $accent-color;
  font-weight: 500;
  text-decoration: underline;
  background: none;
  border: none;
  padding: 0;
}

.login-container input:focus {
  border-color: #959f84;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(149, 159, 132, 0.25);
}
