$accent-color: #8a6b52; // d9baa0;

.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.dialog-actions {
  display: flex;
  justify-content: center;
  width: 100%;
}

button[place-order-btn] {
  padding: 10px 20px;
  background-color: $accent-color;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
}

button.add-to-basket-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}